/* Estilos generales */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: arial;
  /* width: 80%; */
  /* dar mas padding para centrar mas  o achicar contenedor */
  padding: 1rem;
  background-color: rgb(236, 235, 235);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.cabecera {
  width: 1200px;
  font-family: Arial;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  /* border: 1px solid #FFFFFF; */
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
  a {
    text-decoration: none;
    h1 {
      color: #252c58;
      font-family: Arial;
      font-size: 38px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .input-container {
    display: flex;
    width: 130px;
    input {
      background-color: whitesmoke;
      width: 100%;
      padding: 8px 30px 8px 10px; /* Ajusta el padding según sea necesario */
      border: 1px solid lightgray;
      border-radius: 10px;
      box-sizing: border-box;
      background-image: url("../images/busqueda.png"); /* Ruta a tu archivo de icono */
      background-repeat: no-repeat;
      background-position: 8px center; /* Ajusta la posición del icono */
      background-size: 15px; /* Ajusta el tamaño del icono */
      padding-left: 30%; /* Asegura espacio suficiente para el icono */
    }
  }
  /* *********************************************** */
  /* ICONOS  */
  .menu {
    display: flex;
    align-items: center;
    .icono {
      height: 38px; /* Alto deseado del icono */
      overflow: hidden; /* Oculta el exceso de imagen fuera del círculo */
      margin-right: 1rem;
      transition: scale 0.3s ease;
    }
    .accion {
      filter: hue-rotate(240deg); /* Cambia el tono de la imagen a azul */
    }
    .accion:hover {
      scale: 105%;
    }

    .perfil {
      display: inline-block;
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0.045);
      border-radius: 100%;
      background-color: lightslategray;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
    }
    .parrafo-perfil {
      color: #252c58;
      font-family: arial;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

/* padding-right: 50px; */
/* *********************************************** */
/* *********************************************** */
/* CONTENEDOR DEL CUERPO */
.contenedor-cuerpo {
  display: flex;
  width: 95%;

  /* CONTENEDOR BARRA LATERAL */
  .contenedor-sidebar {
    height: 400px;
    border-radius: 15px;
    background-color: whitesmoke;
    display: flex;
    padding: 0rem 1rem 0px 1rem;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */

    .icono {
      transition: scale 0.3s ease-in-out;

      &.sidebar:hover {
        scale: 115%;
      }
    }
    /* ************************************************ */
    ul {
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      padding: 0px;
      gap: 2rem;
      li {
        list-style: none;
      }
    }
  }
  /************************************************************************/
  /* CONTENEDOR BLOQUES */
  .contenedor-bloques {
    /* background-color: orange; */
    
    display: flex;
    padding: 0px 4rem;
    align-items: center;
    .contenedor {
      
      justify-content: flex-start;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      gap: 1rem;
    }
    /* background-color: red; */
    /* *********************************************** */

    .bloque:hover {
      scale: 100.3%;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.285); /* Ajusta el valor del desenfoque */
    }
    /* ************************************************* */
    /*BLOQUE */

    .bloque {
      
      transition: scale 0.2s ease;
      justify-content: center;
      width: 170px;
      height: 100px;
      background-color: whitesmoke;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
      padding: 2rem;
      /* border: 1px solid; */
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 11px;

      &.operacion {
        height: 180px;
        width: 150px;
        /* align-items: start; */
        justify-content: space-evenly;

        h2{
          font-size: 22px;
        }
      }
      /* CABEZA DEL BLOQUE */
      .bloque-cabecera {
        display: flex;
        justify-content: space-between; 
        h1 {
          /* TEXTOS */
          &.titulo {
            color: #252c58;
            font-family: arial;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
      /* CUERPO DEL BLOQUE */
      .bloque-cuerpo {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          &.parrafo {
            color: #252c58;
            font-family: arial;
            font-size: 21px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
          &.parrafo2 {
            color: #252c58;
            font-family: arial;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
      .bloque-icono1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 30px;
        background-color: rgba(169, 169, 169, 0.281);
        img {
          height: 20px;
        }
      }
      .bloque-icono2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 60%;
        span {
          border-radius: 10px;
          width: 18px;
          height: 18px;
          text-align: center;
          margin-right: 5px;
          font-family: arial;
          font-size: 15px;
          font-weight: bolder;
        }
        p {
          word-spacing: 2px;
          font-size: 14px;
          color: black;
        }
        a {
          text-decoration: none;
        }
      }

      .plus {
        background-color: lightgreen;
        color: green;
      }
      .falta {
        background-color: lightcoral;
        color: red;
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.contenedor-medio {
  /* background-color: red; */
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0, 110, 255, 0.132);
    transform: box-shadow 1s ease;
    font-size: 16px;
  }
}

.input-container {
  display: flex;
  width: 180px;
  button {
    transition: box-shadow 0.3s ease;
    background-color: rgba(0, 43, 73, 0.447);
    width: 100%;
    /* padding: 8px 30px 8px 10px;  */
    border: 1px solid lightgray;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: url("../images/cuestionario.png"); /* Ruta a tu archivo de icono */
    background-repeat: no-repeat;
    background-position: 8px center; /* Ajusta la posición del icono */
    background-size: 25px; /* Ajusta el tamaño del icono */
    padding-left: 15%; /* Asegura espacio suficiente para el icono */
  }
  button:hover {
    box-shadow: 0 0 10px 1px rgb(48, 148, 255); /* Ajusta el valor del desenfoque */
  }
}

.graficos{
  display: flex;
  flex-direction: column;
  width: 250px;
  /* justify-content: center; */
  align-items: center;

  button{
    width: 50px;
    border-radius: 8px;
    opacity: 80%;
  }
}


/* Media Query para pantallas más pequeñas que 600px */
@media (max-width: 1367px) {

  /* *********************************************** */
/* *********************************************** */
/* CONTENEDOR DEL CUERPO */
.contenedor-cuerpo {
  display: flex;
  width: 90vw;

  /* CONTENEDOR BARRA LATERAL */
  .contenedor-sidebar {
    height: 350px;
    border-radius: 15px;
    background-color: whitesmoke;
    display: flex;
    padding: 0rem 0.6rem 0px 0.6rem;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
  }
  /************************************************************************/
  /* CONTENEDOR BLOQUES */
  .contenedor-bloques {
    /* background-color: orange; */
    
    display: flex;
    padding: 0px 5rem;
    align-items: center;
    .contenedor {
      
      justify-content: flex-start;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
    /* background-color: red; */
    /* *********************************************** */

    .bloque {
      
      transition: scale 0.2s ease;
      justify-content: center;
      width: 180px;
      height: 100px;
      background-color: whitesmoke;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
      padding: 2rem;
      /* border: 1px solid; */
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 11px;

      &.operacion {
        height: 150px;
        width: 170px;
        /* align-items: start; */
        justify-content: space-evenly;
        margin-bottom: 10rem;

        h2{
          font-size: 20px;
        }
      }
      /* CABEZA DEL BLOQUE */
      .bloque-cabecera {
        display: flex;
        align-items: center;
        /* justify-content: space-around;  */
        h1 {
          /* TEXTOS */
          &.titulo {
            
            color: #252c58;
            font-family: arial;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            
          
          }
        }
      }
    }
  }

}
}