/* Estilos generales */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: arial;
  /* dar mas padding para centrar mas  o achicar contenedor */
  padding: 1rem;
  background-color: rgb(236, 235, 235);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.cabecera {
  width: 1000px;
  font-family: Arial;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  /* border: 1px solid #FFFFFF; */
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
  .input-container {
    display: flex;
    width: 130px;
    input {
      background-color: whitesmoke;
      width: 100%;
      padding: 8px 30px 8px 10px; /* Ajusta el padding según sea necesario */
      border: 1px solid lightgray;
      border-radius: 10px;
      box-sizing: border-box;
      background-image: url("../images/busqueda.png"); /* Ruta a tu archivo de icono */
      background-repeat: no-repeat;
      background-position: 8px center; /* Ajusta la posición del icono */
      background-size: 15px; /* Ajusta el tamaño del icono */
      padding-left: 30%; /* Asegura espacio suficiente para el icono */
    }
  }
  /* *********************************************** */
  /* ICONOS  */

  .icono {
    height: 38px; /* Alto deseado del icono */
    overflow: hidden; /* Oculta el exceso de imagen fuera del círculo */
    margin-right: 1rem;
  }
  .perfil {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.045);
    border-radius: 100%;
    background-color: lightslategray;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
  }
}

/* padding-right: 50px; */
/* *********************************************** */
/* *********************************************** */
/* CONTENEDOR DEL CUERPO */
.contenedor-cuerpo {
  display: flex;

  /* CONTENEDOR BARRA LATERAL */
  .contenedor-sidebar {
    background-color: purple;
    display: inline;
    padding: 1rem;
    ul {
      display: flex;
      flex-direction: column;
      padding: 0px;
      gap: 2rem;

      li {
        list-style: none;
      }
    }
  }
  /* *********************************************** */
  /* CONTENEDOR BLOQUES */
  .contenedor-bloques {
    background-color: orange;
    display: flex;
    padding: 1rem;
    align-items: center;
    .contenedor {
      justify-content: flex-start;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      gap: 1rem;
    }
    /* *********************************************** */

    .bloque-estadistica {
      width: 345px;
      height: 301px;
    }

    .bloque:hover{
      scale: 101%;
      box-shadow: 0 0 5px 1px rgba(255, 26, 26, 0.726); /* Ajusta el valor del desenfoque */

    }
    /* ************************************************* */
    /*BLOQUE */
    
    .bloque {
      transition: scale 0.2s ease; 
      justify-content: center;
      width: 240px;
      height: 100px;
      background-color: whitesmoke;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.241); /* Ajusta el valor del desenfoque */
      padding: 2rem;
      /* border: 1px solid; */
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 11px;

      &.operacion{
        height: 200px;
        align-items: center;
      }
      /* CABEZA DEL BLOQUE */
      .bloque-cabecera {
        display: flex;
        justify-content: space-between;
      }
      /* CUERPO DEL BLOQUE */
      .bloque-cuerpo {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      .bloque-icono1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 42px;
        width: 42px;
        border-radius: 30px;
        background-color: rgba(169, 169, 169, 0.281);
        img {
          height: 20px;
        }
      }
      .bloque-icono2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 60%;
        span {
          border-radius: 10px;
          width: 18px;
          height: 18px;
          text-align: center;
          margin-right: 5px;
          font-family: arial;
          font-size: 15px;
          font-weight: bolder;
        }
        p {
          word-spacing: 2px;
          font-size: 14px;
          color: black;
        }
        a{
          text-decoration: none;
        }
      }
      
      .plus {
        background-color: lightgreen;
        color: green;
      }
      .falta {
        background-color: lightcoral;
        color: red;
        img {
          transform: rotate(180deg);
        }
      }
      /* TEXTOS */
      .titulo {
        color: #252c58;
        font-family: arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .parrafo {
        color: #252c58;
        font-family: arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .parrafo2 {
        color: #252c58;
        font-family: arial;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }

    
  }
}
