/* Estilos generales */
* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}
body{
    background: radial-gradient(circle, #b6d9ff, #a8a1de4e);
    margin-top: 2%;
}

.div-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 200px;
    }
}
form{
    padding-top: 1rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;


    input{
        border-radius: 15px;
        height: 22px;
        text-align: center;
    }
    input[placeholder]{
        font-size: 16px;
    }

    button{
        border-radius: 20px;
        height: 38px;
        font-size: 18px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
    }
    span{
        opacity: 80%;
    }
}